<html ng-app>
  <head>
<script src="https://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
<script src="https://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="sum.js"></script>
  </head>
  <body>
    <div ng-controller="SumCtrl">
     
   <span>Number 1: </span><input type="number" ng-model="numberone" ng-model-instant>
   <br/>
   <span>Number 2: </span><input type="number" ng-model="numbertwo" ng-model-instant><br><br>

    <span>Result: {{getTotal()}}</span><br/><br/>

<form>

   <button class="btn-large" ng-onclick="addNumber(numberone,numbertwo)">Add</button>
    </form>
    </div>

  </body>
</html>









<div class="one">1) To be improved</div><div id="left"><li>To be improved attitude about work, procurement, or company that is perceived by others</li></div>
<div class="one">2) Average</div><div id="left"><li>Neutral work attitude, but not a contagious, positive influence</li></div>
<div class="one">3) Good</div><div id="left"><li>Good work attitude, and sometimes goes the extra mile, but not consistently</li></div>
<div class="one">4) World-class</div><div id="left"><li>Consistently goes the extra mile and is sought after as a pleasant, energetic individual to work with</li></div>


<ul><li>Early Adopters have made fantastic progress over the last year</li><li>The development visit from Hal Wolf will provide an opportunity to reflect on that progress, the successes and challenges that EAs have and are facing and a chance to align on priorities for 15/16</li><li>The following questions are designed to help brief Hal and give a starting point for the conversations on the day</li><li>Your responses will not be circulated any further or be used for any other purpose than to help you get best value from the time you have with Hal</li><li>If you have any questions about this survey, please contact  <a href="mailto:NWLwholesystems@nw.london.nhs.uk">NWLwholesystems@nw.london.nhs.uk</a></li></ul>


<script>

window.onload=calcuateTotal;
calcuateTotal();

function calcuateTotal()
{
  addEventHandlers("click",SumRow1);
  addEventHandlers("keyup",SumRow1);
  SumRow1();
}

function addEventHandlers(eventType, eventFunction){
  var element = document.body;
  if(navigator.appName=="Microsoft Internet Explorer"){
    element.attachEvent('on'+eventType, eventFunction);
  }
  else
    element.addEventListener(eventType, eventFunction, false);   
}

function SumRow1()
{
  var b=parseInt($(".confirmit-as-sum-field").html());
  var total=100-b;
  $(".pointLeft").html(total)
  console.log(b);
}

</script>
